# Forcing CPU-only version of torch (a dependency of 'unstructured')
--index-url https://download.pytorch.org/whl/cpu
torch==2.7.1+cpu

# Core Application
fastapi==0.115.4
uvicorn[standard]==0.32.1
python-multipart==0.0.12
starlette==0.41.3
python-dotenv==1.0.1

# AI & LangChain
openai==1.96.1
pinecone-client==4.0.0
langchain-community>=0.0.34
unstructured==0.14.3
tiktoken==0.9.0

# Data & DB
psycopg2-binary==2.9.9
pandas==2.3.1
numpy==1.26.4
SQLAlchemy==2.0.35

# Document Loaders
python-docx==1.1.2
PyMuPDF==1.26.3

# Auth & Models
pydantic==2.11.7
pydantic-core==2.33.2
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4

# Utilities
aiofiles==24.1.0
spacy==3.8.2
structlog==25.1.0
